@{
    ViewData["Title"] = "Contacto";
}
<div class="Contenido">
    <div class="TextoContenido">
          <h3>
            Para comunicarse directamente con la oficina principal 
          </h3>
          <br>
          <h3>
            -Programador: Andres Felipe Garces Muñoz
          </h3>
          <br>
          <h3>
            -Tel:313409855
          </h3>
          <br>
          <h3>
            -GitHub:AndreGZAS
          </h3>
    </div>
        <div>
          <img class= "ImagenContenido" src="~/images/Imagen Contenido.jpeg" alt="" />
        </div>
</div>