@{
  ViewData["Title"] = "Index";
}

<div class="Contenidoindex">
  <div class="TextoContenidoindex">
    <h3>
      Nuestro sistema esta encargado de registrar a todos nuestros empleados por medio de una base de datos en esta
      plataforma puede realizar diferentes funciones como por ejemplo, iniciar sesion, crear una cuenta o actualizar sus
      datos, en caso de retiro sera eliminado del registro.
    </h3>
  </div>
  <div>
    <img class="ImagenContenidoindex" src="~/images/Notifications_Monochromatic.png" alt="" />
  </div>
</div>
