@{
  ViewData["Title"] = "Nosotros";
}
<div class="Contenido">
  <div class="TextoContenido">
    <h3>
     Mi base de datos esta compuesta por:</h3>
     <br>
     <h3>
     -Tener un excelente sistema para la generacion de los registros.
     </h3>
     <br>
     <h3>
     -Poder tener el manejo de la información personal de todos los empleados dentro de la plataforma.
     </h3>
     <br>
     <h3>
     -Que los empleados puedan tener el acceso a una cuenta o a crearla directamente en la plataforma.
    </h3>
  </div>
</div>