@{
    ViewData["Title"] = "Objetivos";
}
<div class="Contenido">
        <div class="TextoContenido">
          <h3>
            Soy un pequeño programador con un sueño, mi objetivo es poder ayudar a una empresa con sus base de datos
            principal para llevar un orden de sus empleados, que ellos puedan tener el control de actualizacion de datos y que
            sea de facil manejo, tambien tendre en cuenta el diseño de como quiere su pagina, puedo variar su etilo
            depende a sus necesidades a solo un clik podra tener los datos de sus empleados a la manos.
          </h3>
        </div>
      </div>