@{
  ViewData["Title"] = "Private";
}
<div class="Contenido">
  <div class="TextoContenido">
    <h1>
      Informacion Privada
    </h1>
     <br>
     <h2> Bienvenido @User.Identity.Name</h2>

  </div>
</div>